<% content_for :title, "New project" %>

<%= turbo_frame_tag "new_project_frame" do %>
  <h1>New project</h1>

  <%= render "form", project: @project %>

  <br>

  <div>
    <%= link_to "Back to projects", projects_path %>
  </div>
<% end %>
